<div class="container">
  <div class="wrapper-type-a">
    <div class="users-edit">
      <h1>団体名</h1>
      <%= form_tag("/groups/#{@group.id}/edit",class:"users-edit-form") do %>
      <input type="text" name="name" value="<%=@group.name%>">
      <input type="submit" class=" hover"value="変更">
      <% end %>
    </div>
  </div>
</div>
