<div class="container">
  <div class="wrapper-type-a">
    <div class="users-edit">
      <h1>パスワード</h1>
      <%= form_tag("/groups/#{@group.id}/edit",class:"users-edit-form") do %>
      <p>現在のパスワード</p>
      <input type="text" name="sub_password" value="">
      <p>新しいパスワード</p>
      <input type="text" name="new_password" value="">
      <input type="submit" class=" hover"value="変更">
      <% end %>
    </div>
  </div>
</div>
