<% if @current_user.id == @user.id %>
<div class="container">
  <div class="wrapper-type-a">
    <div class="users-edit">
      <h1>自己紹介文</h1>
      <%= form_tag("/users/#{@user.id}/edit",class:"users-edit-form") do %>
      <textarea name="body" class="body_edit-content" rows="8" cols="80"><%= @user.body %></textarea>
      <input type="submit" class=" hover" value="変更">
      <% end %>
    </div>
  </div>
</div>
<% end %>
