<div class="container">
  <div class="wrapper-type-b" id="center">
    <div class="into-content">
      <h2>ログイン</h2>
      <% if @error_message %>
        <div class="errors-message">
          <%= @error_message%>
        </div>
        <%end%>
        <div class="into-form">
        <%= form_tag('/login') do %>
          <h3>メールアドレス</h3>
          <input type="email" name="email" value="<%= @email %>">
          <h3>パスワード</h3>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="ログイン" class="into-btn hover">
        <% end %>
      </div>
    </div>
  </div>
</div>
