<%= link_to('/pralics/index',class: 'thanks-link') do %>
<div class="container">
  <div class="wrapper-type-a black">
    <div class="organizer-thanks-wrapper">
      <h1>お問い合わせありがとうございます。</h1>
      <p>早急にご対応させていただきますので少々お待ちください。</p>
      <p>2～3日たっても連絡がない場合は、ご登録のメールアドレスをご確認の上再度ご連絡いただきますよう宜しくお願い致します。</p>
    </div>
  </div>
</div>
<% end %>
