

<div class="top" >

</div>

<div class="container">
  <div class="top-title">
    <h1>Let's<br>seriously<br>play<br>together.</h1>
  </div>
  <div class="top-btns">
    <%= link_to "ログイン","/users/login" , class: 'top-btn' %><br>
    <%= link_to "新規登録","/users/signup", class: 'top-btn'%>
  </div>
</div>

<footer class="footer">
  ©EitaAkiyama All rights reserve
</footer>
