<a href="/pralics/index">
  <div class="container">
    <div class="wrapper-type-a">
      <div class="thanks-wrapper">
        <h1>レビューが投稿されました。</h1>
        <p>イベントのご利用ありがとうございました。<br>またのご利用を心よりお待ちしております。</p>
      </div>
    </div>
  </div>
</a>
