<div class="container">
  <div class="wrapper-type-a">
    <div class="adjustment">
      <h1><%= @estaevent.title%></h1>
      <% if @error_message %>
        <div class="errors-message">
          <%= @error_message%>
        </div>
        <%end%>
        <%= form_tag("/events/#{@estaevent.id}/review_create_system",{multipart:true,class: "review_create-wrapper"}) do%>
        <h2>思い出に残るベストショットを登録してください</h2>
        <label class="image-label hover">
          <div class="review-create-image-box ">
            <%= image_tag "/company_event_images/#{@estaevent.image}",class:"review-image"%>
            <i class="fas fa-camera review-create-camera-position"></i>
          </div>
          <input type="file" name="image" class="image-edit-file">
        </label>
        <h2>レビュー</h2>
        <textarea name="review" rows="8" cols="80"></textarea>
        <input type="submit" value="送信" class="review_create-btn hover">
        <% end %>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).on('turbolinks:load', function(){
    var setFileInput = $('.image-label'),
    setFileImg = $('.review-image');

    setFileInput.each(function(){
        var selfFile = $(this),
        selfInput = $(this).find('input[type=file]'),
        prevElm = selfFile.find(setFileImg),
        orgPass = prevElm.attr('src');

        selfInput.change(function(){
            var file = $(this).prop('files')[0],
            fileRdr = new FileReader();

            if (!this.files.length){
                prevElm.attr('src', orgPass);
                return;
            } else {
                if (!file.type.match('image.*')){
                    prevElm.attr('src', orgPass);
                    return;
                } else {
                    fileRdr.onload = function() {
                        prevElm.attr('src', fileRdr.result);
                    }
                    fileRdr.readAsDataURL(file);
                }
            }
        });
    });
});
</script>
